<h1>Totoro Fundamental Investing Model</h1>
  <%def format_value(value)%>
    <%value ||= 'N/A'%>
  <%end%>
  <table style="width:100%">
    <td><%= "Details"%></td>
    <td><%= "Ticker"%></td>
    <td><%= "2010"%></td>
    <td><%= "2011"%></td>
    <td><%= "2012"%></td>
    <td><%= "2013"%></td>
    <td><%= "2014"%></td>
    <td><%= "Average Score"%></td>
    <td><%= "2010 Rank"%></td>
    <td><%= "2011 Rank"%></td>
    <td><%= "2012 Rank"%></td>
    <td><%= "2013 Rank"%></td>
    <td><%= "2014 Rank"%></td>
    <td><%= "Average Rank"%></td>
    <td><%= "Price"%></td>
    <td><%= "P/E Ratio"%></td>
    <td><%= "Price Per Book"%></td>
  <% @totalscores.order(average_score: :desc).each do |row|%>
    <tr>
      <div class="row">
        <td><%= link_to 'Details', dashboard_path(row)%></td>
        <td><%= row.ticker%></td>
        <td><%= row.total_score1.round(2)%></td>
        <td><%= row.total_score2.round(2)%></td>
        <td><%= row.total_score3.round(2)%></td>
        <td><%= row.total_score4.round(2)%></td>
        <td><%= row.total_score5.round(2)%></td>
        <td><%= row.average_score.round(2)%></td>
        <td><%= row.rank1%></td>
        <td><%= row.rank2%></td>
        <td><%= row.rank3%></td>
        <td><%= row.rank4%></td>
        <td><%= row.rank5%></td>
        <td><%= row.average_rank%></td>
        <td><%= row.price%></td>
        <td><%= format_value(row.pe_ratio)%></td>
        <td><%= format_value(row.price_per_book)%></td>
        <td></td>

      </div class>
    </tr>
  <%end%>
</table>
